/* General Styling */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

/* Main Content */
.content {
  padding: 20px;
}

.logo-image {
  width: 300px; /* Adjust the size */
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
  border: 3px solid #555;
}

/* Footer */
.footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}